<!DOCTYPE html>
 < - https://colorscheme.ru/html-colors.html - >
<!-- <img src="https://static.wixstatic.com/media/8b0c05_047078a6da25457aabe6997154dfeb62~mv2.png/v1/crop/x_0,y_4,w_200,h_108/fill/w_130,h_70,al_c,q_85,usm_0.66_1.00_0.01/Mistletoe.webp" alt style="width:104px;height:56px;object-fit:cover;object-position:50% 50%"> -->
https://www.pngegg.com/ru/png-zbpew/download
j
https://www.w3schools.com/html/html_tables.asp



# db.app = app
# db.init_app(app)
# Почему не написать вместо них

<!--    {{resfu.другойстолбец}} {% if resfu.третийстолбецунихауменяпросточисло %} - {{ resfu.хуйй }}{% endif %}-->
        <a class="navbar-brand" href="#">ДЗ</a>





# @app.route('/time')
# def time_redirect():
#     h = datetime.datetime.today().hour
#     if 10 < h < 22:
#         return redirect(url_for('index'))
#     return redirect(url_for('hi'))
# Ctrl + /

< -    <img src="static/img/Harry.jpg" class="background"> - >
<html>
    <head>
        <style>
        body {
          background-color: #a4a4a4;
        }
        h1 {
          color: yellow;
          text-align: center;
          /* это коммент на строку */
        }
        p {
          font-family: verdana;
          font-size: 15px;
        }
        </style>
    </head>
<body>
<h1>Пример</h1>
<p>Пример оформления страницы</p>
</body>
</html>

< - &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& - >
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Это заголовок вкладки</title>
</head>
<body>
    <h1>Это заголовок</h1>
    <form>что</form>
    <p>
        А вообще в body тот текст что будет на странице
    </p>
</body>
</html>