{% extends 'base.html' %}

{% block title %} Старт {% endblock %}
{% block image %}
    <style>
    body {
      background-image: url('static/img/kart_final_start.jpg');
    }
    </style>
{% endblock %}

{% block content %}
    <br>
    <h3 style="background-color:#CD853F; padding: 20px; opacity: .8">Мем (англ. meme) — единица значимой для культуры информации (И это официальное определение из Википедии).</h3>
    <br>
    <h4 style="background-color:#CD853F; padding-left: 20px; padding-right: 15px; padding-top: 15px; padding-bottom: 5px; opacity: .99" >Чувствовали ли вы когда-нибудь, что современные мемы — повторение того же социо-культурного концепта, что и пословицы с поговорками? Ведь они похожи не только с точки зрения емкости и точности выражения, но и их использование также отражает социальный статус человека: </h4>
    <h4 style="background-color:#CD853F; padding-left: 20px; padding-right: 15px; padding-top: 5p; padding-bottom: 15px; opacity: 1" >Cовершенно независимо от вашего ответа вам предлагается пройти маленький (да удаленький) опрос на эту тему!</h4>
    <br>
    <h4 style="background-color:#CD853F; padding-left: 20px; padding-right: 20px; padding-top: 20p; padding-bottom: 15px; opacity: .8">P.S. Предупреждение! Исследования научной ценности не несёт, зато несёт мне отличающуюся от нуля оценку за домашнее задание!</h4>
    <br>
    <div align="center">
            <a href="/questions">
                <input type="button" style="background-color: #800080; color: #F0FFF0" class="btn btn-lg" value="Пройти опрос" />
            </a>
        </div>

{% endblock %}
