{% extends 'base.html' %}

{% block title %} vvv {% endblock %}
{% block image %}
    <style>
    body {
      background-image: url('static/img/kart3.jpg');
    }
    </style>
{% endblock %}

{% block content %}
     <form action="/results/" method="GET" style="background-color:#CD853F; padding-left: 20px; opacity: .95">
      <p>1. Укажите ваш гендер</p>
        <input type="radio" name="gender" value="male" checked> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <input type="radio" name="gender" value="other"> Other
    <br>
{% endblock %}

